.contact-box{
    max-width: 20rem;
    padding: 1em;
    border-right: solid 1px lightgray;
    position: sticky;
    top:0;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.contact{
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.3em;
}
