.input-bar-container{
    position: sticky;
    bottom:0;
    padding: 0.5em;
    border-top: solid 1px lightgray;
    background-color: inherit;
    display: flex;
    gap:1em;
}

.input-bar-container input{
    background-color: #e2e2e2;
    border-radius: 999px;
    padding: 1em;
    width: 100%;
}

.input-bar-container button{
    padding: 1em 1.5em;
}
